<div class="wrapper" style="padding-top: 5rem;">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />

    <div class="alert alert-danger alert-with-icon" role="alert" *ngIf="errorDataProfile" >
      <span data-notify="icon" class="tim-icons icon-alert-circle-exc" *ngIf=""></span>
      <span><b>  Ups! - </b> Hubo un error al cargar tu perfil, actualiza la página. Si el error persiste comunicate con nosotros</span>
    </div>

    <div class="container align-items-center " style="padding-top: 5rem;">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img *ngIf="player.url_photo"
                class="img-center img-fluid rounded-circle"
                [src]="player.url_photo"
              />
              <img *ngIf="!player.url_photo"
                class="img-center img-fluid rounded-circle"
                src="../../../assets/img/ryan.jpg"
              /> 
              <button
              *ngIf="!player.url_photo"
              class="btn btn-simple btn-danger btn-icon btn-round float-right" 
              style="margin-right: 10%; margin-top: -20%;"
              type="submit"
            >
              <i class="tim-icons icon-pencil"> </i>
            </button>
              <h4 class="title">{{player.nickname}}</h4>
            </div>
            <div class="card-body">
              <tabset
                class="nav-tabs-danger justify-content-center tab-subcategories"
              >
                <tab heading="Stats">
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Cuenta</label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="id player"
                          type="text"
                          readonly
                          [(ngModel)]="player.id"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Saldo </label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="$0 ORO"
                          type="nume"
                          readonly
                          [(ngModel)]="player.balance"
                        />
                      </div>
                    </div>
                  </div>
                  <button
                    class="btn btn-simple btn-danger btn-icon btn-round float-right"
                    type="submit"
                  >
                    <i class="tim-icons icon-money-coins"> </i>
                  </button>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="alert alert-danger" role="alert" *ngIf="!player.profile_complete" >
            Completa tu perfil de jugador para terminar tu registro!
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="!player.email_verified" >
            Tu email aun no ha sido verificado 
          </div>
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="profile-title text-left">Perfil</h1>
              <h5 class="text-on-back">Go</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Tu Nombre </label>
                      <input class="form-control" placeholder="Mi nombre" name="name" type="text" [(ngModel)]="player.name" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Email </label>
                      <input
                        class="form-control"
                        placeholder="mike@email.com"
                        type="email"
                        name="email"
                        readonly
                        [(ngModel)]="player.email"
                      /> <a class="btn btn-link btn-sm " *ngIf="!player.email_verified">  Verifica tu email</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> NickName </label>
                      <input
                        class="form-control"
                        type="text"
                        name="nickname"
                        placeholder="Mi Imponente Nickname"
                        [(ngModel)]="player.nickname"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Telefono </label>
                      <input
                        class="form-control"
                        type="text"
                        name="phone"
                        placeholder="000-000-0000"
                        [(ngModel)]="player.phone"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Edad </label>
                      <input
                        class="form-control"
                        placeholder=" +18"
                        type="number"
                        name="age"
                        [(ngModel)]="player.age"
                      />
                    </div>
                  </div>
                </div>
                <button
                class="btn btn-danger btn-round float-left"
                placement="left"
                type="button"
                name="btnedit"
                *ngIf="isEditing"
                (click)="saveProfile(player)"
              >
                Guardar Cambios
              </button>
                <button
                  class="btn btn-danger btn-round float-right"
                  placement="right"
                  type="button"
                  name="btnregistro"
                  *ngIf="!player.profile_complete"
                  (click)="saveProfile(player)"
                >
                  Completar registo
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section">

  </section>
</div>

