.lottie_charging{
    z-index: 100;
}
.container-lottie{
    position: absolute;
    display: flex;
    background-color: #141111fa;
}
.wrapper {
    text-align: center;
    margin: auto;
}

.alert-custom{
    position: absolute;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    z-index: 100;
}