
<div class="alert alert-info alert-custom alert-with-icon" role="alert" *ngIf="player.profile_complete" >
  <span data-notify="icon" class="tim-icons icon-check-2" ></span>
  <span><b>  Todo listo! - </b> Para competir ve al grupo de preferencia y crea tu primer reto, ingresa a 
    <a class="link" href="https://chat.whatsapp.com/CZhnIUXPIxcHOliTMhYazJ"
    target="blank"> FIFA20 </a> o 
    <a href="https://chat.whatsapp.com/Fv2XDbYd9et4A9da3Ws0HE"
    target="blank"> PES20 </a> </span>
</div>
<div class="wrapper">
  <div class="page-header" >
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container" >
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle"
                [src]="player.url_photo"
                width="200px"
                height="200px"
              />  
              <button
              class="btn btn-info btn-fab btn-icon btn-round float-right" 
              style="margin-top: -20%; z-index: 100;"
              data-target="#modalProfilePhoto"
              (click)="modalProfilePhoto.show()"
            >        <i class="tim-icons icon-pencil"> </i>
          </button>      
            </div>
            <h3 class="title">{{player.nickname}}</h3>
            <div class="card-body">
              <tabset
                class="nav-tabs-danger justify-content-center tab-subcategories"
              >
                <tab heading="Stats">
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Cuenta</label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="cuenta de jugador"
                          type="text"
                          readonly
                          [(ngModel)]="player.email"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Saldo </label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="$0 ORO"
                          type="nume"
                          readonly
                          [(ngModel)]="player.balance"
                        />
                      </div>
                    </div>
                  </div>
                  <button
                    class="btn btn-simple btn-danger btn-icon btn-round float-right"
                    type="submit"
                    data-target="#modalCash"
                    (click)="modalCash.show()"
                  >
                    <i class="tim-icons icon-money-coins"> </i>
                  </button>
                </tab>
              </tabset>
            </div>
          </div>
          <div class="alert alert-danger alert-with-icon" role="alert" *ngIf="errorDataProfile" >
            <span data-notify="icon" class="tim-icons icon-alert-circle-exc" *ngIf=""></span>
            <span><b>  Ups! - </b> Hubo un error al cargar tu perfil, actualiza la página. Si el error persiste comunicate con nosotros</span>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="!player.profile_complete" >
            Completa tu perfil de jugador para terminar tu registro!
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="!player.email_verified" >
            Tu email aun no ha sido verificado <br>
            Si ya recibiste el correo por favor recarga la página
          </div>
          <div class="alert alert-info alert-with-icon" role="alert" *ngIf="pending_payments > 0" >
            <span data-notify="icon" class="tim-icons icon-bell-55" ></span>
            <span><b>  vaya! - </b> Tienes {{pending_payments}} solicitud de pago pendientes</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="profile-title text-left">Perfil</h1>
              <h5 class="text-on-back">Mi</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Tu Nombre </label>
                      <input class="form-control" placeholder="Mi nombre" name="name" type="text" [(ngModel)]="player.name" (ngModelChange)="isDataProfileChanged($event, 'name')" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Email </label>
                      <input
                        class="form-control"
                        placeholder="micorreo@email.com"
                        type="email"
                        name="email"
                        readonly
                        [(ngModel)]="player.email"
                      /> <a class="btn btn-link btn-sm " *ngIf="!player.email_verified" (click)="sendEmailVerification(user)">  Verifica tu email</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> NickName </label>
                      <input
                        class="form-control"
                        type="text"
                        name="nickname"
                        placeholder="Mi Imponente Nickname"
                        [(ngModel)]="player.nickname"
                        (ngModelChange)="isDataProfileChanged($event, 'nickname')"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Telefono </label>
                      <input
                        class="form-control"
                        type="number"
                        name="phone"
                        placeholder="000-000-0000"
                        [(ngModel)]="player.phone"
                        (ngModelChange)="isDataProfileChanged($event, 'phone')"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Edad </label>
                      <input
                        class="form-control"
                        placeholder=" +18"
                        type="number"
                        name="age"
                        [(ngModel)]="player.age"
                        (ngModelChange)="isDataProfileChanged($event, 'age')"
                      />
                    </div>
                  </div>
                </div>
                <button
                class="btn btn-danger btn-round float-left"
                placement="left"
                type="button"
                name="btnedit"
                *ngIf="isEditing && player.profile_complete"
                (click)="saveProfile(player)"
              >
                Guardar Cambios
              </button>
                <button
                  class="btn btn-danger btn-round float-right"
                  placement="right"
                  type="button"
                  name="btnregistro"
                  *ngIf="!player.profile_complete"
                  (click)="saveProfile(player)"
                >
                  Completar registo
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- modal cambiar imagen -->
      <div
      aria-hidden="true"
      aria-labelledby="myModalLabel"
      bsModal
      class="modal fade modal-black"
      #modalProfilePhoto="bs-modal"
      id="modalProfilePhoto"
      role="dialog"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button
              aria-hidden="true"
              class="close"
              data-dismiss="modal"
              (click)="modalProfilePhoto.hide()"
              type="button"
            >
              <i class="tim-icons icon-simple-remove text-white"> </i>
            </button>
            <div class="text-muted text-center ml-auto mr-auto">
              <h3 class="mb-0">Cambiar foto de perfil</h3>
            </div>
          </div>
          <div class="modal-body ">
            <div class="modal-profile">
              <img
                id="preview"
                class="img-center img-fluid rounded-circle"
                [src]="profile_photo_preview"
                width="200px"
                height="200px"
              />
          </div>
            <form role="form">
              <div class="form-group mb-3">
                <div
                  class="input-group input-group-alternative"
                >
                  <div class="input-group-prepend align-items-center">
                    <button class="btn btn-default">
                      Selecciona foto
                    </button>
                    <input
                    type="file"
                    (change)="selectFile($event)"
                    accept="image/png, .jpeg, .jpg, image/gif"
                  />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="progress-container progress-primary" *ngIf="porcentaje > 0 ">
                  <span class="progress-badge"> Subiendo... </span>
                  <progressbar class="progress-bar-primary" [value]="porcentaje">
                    <span class="progress-value">{{porcentaje}} % </span>
                  </progressbar>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-primary my-4" name="change_photo" type="button" 
                *ngIf="profile_photo_preview != profile_photo && porcentaje < 1"
                (click)="updateProfilePhoto(player.id, profile_photo, modalProfilePhoto)"
                >
                  Guardar cambios
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- modal retiro fondos y proximamante recargas -->
    <div
    aria-hidden="true"
    aria-labelledby="myModalLabel"
    bsModal
    class="modal fade modal-black"
    #modalCash="bs-modal"
    id="modalCash"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button
            aria-hidden="true"
            class="close"
            data-dismiss="modal"
            (click)="modalCash.hide()"
            type="button"
          >
            <i class="tim-icons icon-simple-remove text-white"> </i>
          </button>
          <div class="text-muted text-center ml-auto mr-auto">
            <h3 class="mb-0">Confirmar Cuenta</h3>
          </div>
        </div>
        <div class="modal-body ">
          <form role="form">
            <div class="form-group">
              <label for="name_account">Nombre Completo</label>
              <input type="text" class="form-control" id="name_account" name="name_account" aria-describedby="namelHelp" placeholder="Enter full name"
              [(ngModel)]="pay_account.name" (ngModelChange)="idDataPaymentComplete($event, pay_account)">
              <small id="namelHelp" class="form-text text-muted">Nombre completo del titular de la cuenta</small>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputTypeDoc">Tipo </label>
                <select id="inputTypeDoc" class="form-control" disabled>
                  <option selected>CC</option>
                </select>
              </div>
              <div class="form-group col-md">
                <label for="cc_account">Número de identificacion</label>
                <input type="number" class="form-control" id="cc_account" name="cc_account" aria-describedby="cclHelp" placeholder="Enter ID"
                [(ngModel)]="pay_account.cc" (ngModelChange)="idDataPaymentComplete($event, pay_account)">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputBanco">Banco </label>
                <select id="inputBanco" class="form-control" name="bank" [(ngModel)]="pay_account.bank" (ngModelChange)="idDataPaymentComplete($event, pay_account)">
                  <option>Nequi</option>
                  <option>Bancolombia</option>
                </select>
              </div>
              <div class="form-group col-md">
                <label for="number_account">Número de cuenta</label>
                <input type="number" class="form-control" id="number_account" name="number_account" aria-describedby="num_acclHelp" placeholder="number account"
                [(ngModel)]="pay_account.number_account" (ngModelChange)="idDataPaymentComplete($event, pay_account)">
                <small id="num_acclHelp" class="form-text text-muted">Solo se aceptan cuentas de ahorro</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="player_balance">Disponible</label>
                <input type="number" class="form-control" id="player_balance" name="player_balance" aria-describedby="num_acclHelp" placeholder="0 COP" disabled
                [(ngModel)]="player.balance">
              </div>
              <div class="form-group col-md">
                <label for="cash_to_pay">Valor a retirar</label>
                <input type="number" class="form-control" id="cash_to_pay" name="cash_to_pay" aria-describedby="cash_to_paylHelp" placeholder="0 COP"
                [(ngModel)]="cash_to_pay" (ngModelChange)="idDataPaymentComplete($event, pay_account)">
                <small id="cash_to_paylHelp" class="form-text text-muted">Solo puedes retirar más de 10000COP</small>
              </div>
            </div>
            <div class="form-check text-left">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="save_account" [(ngModel)]="save_account"
                (change)="!save_account"/>
                <span class="form-check-sign"> </span> Guardar Cuenta
              </label>
            </div>
            <div class="text-center">
              <button class="btn btn-primary my-4" name="change_photo" type="button" *ngIf="!isDataPaymentComplete"
              disabled
              >
                Solicitar
              </button>
              <button class="btn btn-primary my-4" name="change_photo" type="button" *ngIf="isDataPaymentComplete"
              (click)="solicitarRetiroDeFondos(player, pay_account, save_account, cash_to_pay, modalCash)"
              >
                Solicitar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
