<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  id="navbar-top"
>
  <div class="container" >
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/home']"
        placement="bottom"
        tooltip="Designed and Coded by Creative Tim"
      >
        <span> AurumGamer </span> 
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> AurumGamer </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.facebook.com/Lasuerteestabajocontrol/"
            placement="bottom"
            target="_blank"
            tooltip="Like us on Facebook"
          >
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']"> Login </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">AurumGamer</h1>
        <h3 class="h3">
          La suerte está bajo control
        </h3>
      </div>
    </div>
  </div>
  <section class="section section-lg section-safe">
    <div class="container">
      <div class="row row-grid justify-content-between">
        <div class="col-md-5">
          <img class="img-fluid floating" src="assets/img/landing.png" />

          <div class="card card-stats bg-danger">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">Uno</p>
                  <p class="card-category text-white">Regístrate</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-stats bg-info">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">Dos</p>
                  <p class="card-category text-white">Recarga</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-stats bg-default">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">Tres</p>
                  <p class="card-category text-white">Sé el mejor</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="px-md-5">
            <hr class="line-success" />

            <h3>¿ Cómo participo ?</h3>
            <p>
              Reta a los demás jugadores de la comunidad a un duelo
              individual o acepta uno de alguien más, el ganador de la partida
              se llevará el botín. 
            </p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-controller"> </i>
                  </div>
                  <div class="ml-3"><h6>Juega en tu consola preferida: XBox, PS4, PC</h6></div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons 
                    icon-watch-time"> </i>
                  </div>
                  <div class="ml-3"><h6>Disponible 24/7</h6></div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-trophy"> </i>
                  </div>
                  <div class="ml-3"><h6>Compite por ser el número 1</h6></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

